#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen .status-bar {
  top: 0;
  background-color: #abc1d1;
  z-index: 2;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 25px;
  font-size: 14px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
}

.message_author {
  display: block;
  margin-bottom: 5px;
}

.message_author,
.message__time {
  opacity: 0.8;
  font-size: 15px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  margin-right: 5px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 20px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.8;
}

.reply input {
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
}

.reply .reply__column:last-child > i,
.reply .reply__column:last-child button {
  position: absolute;
  right: -13px;
  top: 2px;
}

.reply .reply__column:last-child i {
  right: 35px;
  top: 10px;
}

.reply .reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}
